#root {
  max-width: 1150px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.right-bar-container .lists{
  padding-top: 22px;
}
.menu-items .active:before{
  display: block;
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
  width: 40px;
  height: 3px;
  border-radius: 4px 4px 0 0;
  background-color: rgb(81, 57, 196);
}
.pad-bor{
  padding: 25px;
  border-bottom: 1px solid  #ccc;
}
.bold{
  font-weight: bolder;
}
.right-bar-container a{
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.border .search-icon{
  display: inline;
}
.right-bar-container .navigate{
  padding-bottom: 22px;
}
.right-bar-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.hashtag-content{
  color: purple;
}
.status-action-bar button:hover{
  background-color: rgb(242, 242, 252);
  border: none;
}
.status-action button:hover{
  background-color: rgb(242, 242, 252);
  border: none;
}
.status-action button{
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 3.5px;
  background-color: white;
}
.status-action-bar button{
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 3.5px;
  background-color: white;
}
.status-action-bar{
  flex-basis: 0;
  flex-grow: 1;
}
.trending-options-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 18px;
}
.full-content-image{
  height: 400px;
  width: 600px;
}
.sticky{
  position: sticky;
  top: 0;
  background-color: white;
}
.hashtag-buttons{
  background-color: rgb(242, 242, 252);
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-right: 4px;
  border-radius: 5px;
  border: none;
}
.time{
  margin-left: auto;
}
.icon path{
  fill: black;
}
.icon-plus path{
  fill: white;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.pady{
  padding: 13px;
  /* width: 400px; */
}
.pady-search{
  padding: 16px 16px 8px;
  /* width: 400px; */
}
.pady-trending-card{
  padding: 16px;
}
.trending-image{
  width: 46px;
  height: 46px;
  padding-right: 8px;
}
.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 0;
}
.center-align{
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-icon{
  width: 20px;
  height: 20px;
  padding-right: 8px;
}
.pady-searching{
  margin: 16px 16px 12px;
}
.right-width{
  width: 285px;
  /* padding: 16px; */
  border-inline-start: 1px solid #ccc;;
}
.new-post{
  background-color: rgb(81, 57, 196);
  color: white;
  padding: 8px 12px 8px 5px;
  margin: 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.border{
  border: 1px solid rgb(215, 214, 224);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: rgb(243, 245, 248);
}
.gray-text{
  color: gray;
}
.border-bottom .menu-items{
  flex: 1 1 0;
  text-align: center;
  padding: 15px 0;
}
.margin-left{
  margin-left: 9px;
}
.pady-name{
  padding: 16px;
}
.border-bottom{
  border: 0;
  border-bottom: 1px solid #ccc;
  cursor: default;
  display: flex;
  vertical-align: baseline;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}
.top-container{
  display: grid;
  grid-template-columns: 3.6fr 1fr;
  gap: 0px;
}
.menu-items{
  position: relative;
}