#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.right-bar-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hashtag-content{
  color: purple;
}
.full-content-image{
  height: 400px;
  width: 600px;
}
.time{
  margin-left: auto;
}
.icon path{
  fill: black;
}
.icon-plus path{
  fill: white;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.pady{
  padding: 12px;
  /* width: 400px; */
}
.trending-image{
  width: 30px;
  height: 30px;
  padding-right: 8px;
}
.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
}
.center-align{
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-icon{
  width: 20px;
  height: 20px;
  padding-right: 8px;
}
.new-post{
  background-color: purple;
  color: white;
  padding: 6px;
  margin: 12px;
}
.border{
  border: 1px solid gray;
  padding: 8px;
  border-radius: 5px;
  background-color: #f5f2f2d7;
}
.gray-text{
  color: gray;
}
.margin-left{
  margin-left: 9px;
}
.border-bottom{
  border: 0;
  border-bottom: 1px solid #ccc;
  cursor: default;
  display: flex;
  vertical-align: baseline;
  justify-content: space-between;
}
.top-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0px;
}